# Vscode
.vscode/**
.vscode-test/**

# Git
.gitignore

# Package manager
.yarnrc

# Docs
docs/**

# Typescript
src/**
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts

# Test
**/test
**/*.test

# Already compiled
**/*.vsix
